.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80vw;
}
