.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80vw;
}

.page-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.logo {
  width: 300px;
}

.nav-text {
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 564px;
  /*align-items: center;*/
}
