.history {
  color: #ffb703;
  font-weight: 700;
}

.form-label {
  margin: 1rem 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.form-field {
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  border-width: 0;
  border-bottom: 1px solid #ffffff;
  margin: 1rem 0;
  color: #ffffff;
  width: 565px;
}
